body,header,main{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
body{
    background-color: var(--body-color);
    min-height: 100vh;
}

header{
    flex:1;
    min-height: 45vh;
    margin-bottom: 10rem;
}
header nav{
    display: flex;
    background: linear-gradient(
        180deg,
        var(--nav-color) 90%,
        transparent 100%
    );
}
header nav ul{
    display: flex;
    list-style-type: none;
    gap: 10vw;
}
header nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
}
header #presentacion{
    position:relative;
    flex:1;
    height: 100%;
    width: 100%;

    display:flex;
    flex-direction:column;

    z-index: 1;
}
header #presentacion::before{
    content:"";
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:radial-gradient(
        circle,
        var(--presentacion-color-centro) 10%,
        var(--presentacion-color-uno),
        var(--presentacion-color-dos)
    );

    mask-image: radial-gradient(
        circle,
        black 30%,
        transparent 60%
    );

    z-index: -1;
}


header #presentacion h2{
    margin: auto auto;
    transform: translate(0,-5rem);
    
    font-size: 3rem;
    font-family: "Roboto Mono";

    text-shadow: 0 1rem .3rem var(--body-color);
}
header #presentacion img{
    max-width: 40%;
    max-height: 40%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    border: .3rem solid white;
    border-radius: 100%;

    box-shadow: 0 .3rem 1rem white;
}
header #presentacion p{
    position: absolute;
    top: 18rem;
    width: 75%;
    text-indent: 2rem;
    left:50%;  transform: translate(-50%);

    font-size: 2rem;
}

main{
    margin-top: 2rem;

    position: relative;
    display:flex;
    flex-direction: column;

    gap:1rem;

    z-index: 1;
}
main::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        var(--main-background-color) 60%,
        var(--main-background-fade) 95%,
        transparent 100%
    );

    z-index: -1;
}
main h2{
    font-size: 2rem;
    font-family: "Roboto";
    text-indent: 1rem;

    text-shadow: -.1rem .1rem .5rem white;
}

main section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
}
main section article{
    display:flex;
    padding: 0 0;

    background-color: var(--overlay-color);
    border-radius: 2rem;
    box-shadow: 0 .3rem 0 var(--overlay-shadow-color);

    width: 90%;
    margin: 0 auto;
}

main section article .text-container{
    margin-left: 3rem;
}
main section article .img-container{
    margin-left: 0;
}
.text-container p{
    text-indent: 1rem;
    font-size: 1.5rem;
}

main #section-skills .skill .text-container{
    flex:2;
}
main #section-skills .skill .img-container{
    flex:1;
}
main #section-skills .skill .img-container img{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

main #section-education .degree .text-container{
    flex:2;
}
main #section-education .degree .img-container{
    flex:1;
}
main #section-education .degree .img-container img{
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    max-height: 30vh;
}

@media screen and (min-width: 40rem){
    body{
        min-height: 175vh;
    }
    header{
        mask-image: linear-gradient(180deg,black 99%,transparent 100%);
    }
    header #presentacion{
        min-height: 80vh;
    }
    header #presentacion h2{
        transform: translate(0,-24vh);
        font-size: 7rem;
    }
    header #presentacion img{
        max-height: 60%;
        max-width: 60%;       
        box-shadow: 0 0 5rem white; 
    }
    header #presentacion p{
        top: 65vh;
    }

    main h2{
        font-size: 5rem;     
        text-indent: 5vw;

    }
    
    main section{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    main section .skill{
        min-height: 20vh;
        width: 45vw;
    }
    main section .degree{
        min-height: 60vh;
        min-width: 50vw;
        max-height: 70vh;
        max-width: 60vw;
    }

    main section .degree .text-container{
        width: 50%;
        font-size: 2rem;
    }
    main section .degree .img-container{
        width: 50%;
        height: 100%;
    }

    .img-container img{
        max-height: 100%;
    }
    .text-container{
        margin: 0 2vw;
    }


}